* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #3d3d3d;
  font-size: 1.3em;
}
#grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr"
    "seH seH seH seH seH seH seH seH seH seH seH seH"
    "seA seA seA seA seA seA seA seA seA seA seA seA"
    "seB seB seB seB seB seB seB seB seB seB seB seB"
    "ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr"
}
nav {
  display: -ms-inline-grid;
  grid-area: nav;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(to bottom,#e97d20 10%, rgba(100, 43, 13, 0.13) 90%);
  text-align: center;
  padding-top: 25px;
}

  nav a {
    color: #000;
    text-decoration: none;
    font-size: 2.5rem;
    margin: 0 55px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  nav a:hover {
    color: #ab806c;
    font-weight: 500;
  }
  nav h1 {
    display: inline;
    margin: 0 55px;
    color: #000;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  nav h1:hover {
    color: #ab806c;
    font-weight: 500;
  }

header {
  display: grid;
  grid-area: hdr;
  width: 100%;
  height: 650px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding-top: 25px;
  color: #e1890c;
  background: url('../assets/images/main/headerBkg.png');
  background-size: cover;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

#sectionH {
  display: grid;
  grid-area: seH;
  width: 100%;
  justify-content: center;
  padding-top: 60px;
  height: 100px;
  background: linear-gradient(to right,#e97d20 10%, #3d3d3d 90%);
}

.imgContainer {
  display: grid;
  justify-items: center;
  align-items: center;
}

#sectionA {
  display: grid;
  grid-area: seA;
  grid-template-columns: 1fr 1fr;
  padding: 0 50px;
  background: linear-gradient(to right,#e97d20 10%, #3d3d3d 90%);
}
.imgContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 20px;

}
.SecAImg {
  width: 75%;
  border-radius: 2%;
}

.main-content {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
  color: #442204;
  text-align: center;
  margin: 70px 50px;
  z-index: 1;
}
#sectionB {
  display: grid;
  grid-area: seB;
  padding: 0 50px;
  padding-bottom: 65px;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(to right,#e97d20 10%, #3d3d3d 90%);
}
.SecBImg {
  width: 75%;
  border-radius: 2%;
}
.secBcontent {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
  color: #e07213;
  text-align: center;
  margin: 75px 50px;
  line-height: 1.75em;
  z-index: 1;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

footer {
  display: grid;
  grid-area: ftr;
  grid-template-columns: 8fr 1fr;
  width: 100%;
  height: 300px;
  background: linear-gradient(to right,#e97d20 10%, #3d3d3d 90%);
  font-size: 1.4em;
  color: #442204;
  justify-content: center;
  text-align: center;
  border-top: #3d3d3d 2px ridge;
}
  .socialIconsContainer {
    margin: 50px;
    padding-top: 3px;
    background: #555;
    border-radius: 4%;
    opacity: 80%;
  }
  .socialIcon {
    display: grid;
    width: 50px;
    height: 50px;
    margin: 10px 2px;
  }
  footer p {
    display: grid;
    font-size: 1.3em;
    word-spacing: .5em;
    letter-spacing: .05em;
    justify-content: center;
    padding: 50px;
    margin-top: 20px;
  }

  #portNav {
    display: none;
    width: 175px;
    height: 50px;
    background: #878787;
    font-size: .75em;
  }